*.npz
data/ab_switch_mean.npz
*.pyc
srcm_engine/animation_util/__pycache__/animate.cpython-312.pyc
srcm_engine/core/__pycache__/engine.cpython-312.pyc
srcm_engine/animation_util/__pycache__/animate.cpython-312.pyc
srcm_engine/core/__pycache__/engine.cpython-312.pyc
